target/
build/
debug/

.env
.idea
.vscode
.wrangler
.yarn

.git
.gitignore
.prettierignore
Dockerfile

tmp_ext/chrome
tmp_ext/firefox
node_modules/

.DS_Store
libs/extension/target-ext
libs/blockmesh-bin/src-tauri/target
libs/blockmesh-bin/src-tauri/gen
libs/blockmesh-bin/src-tauri/resources/ore
libs/react-native-app/android/app/build
libs/react-native-app/ios/Pods





