:root {
  --blue: #25e4d3;
  --darkBlue: #2f8985;
  --perceptron-main-black: #252525;
  --perceptron-orange: #FF6929;
  --perceptron-white: #F2F2F2;
  --orange: #fab457;
  --darkOrange: #f97432;
}

* {
  /* font-family: "Nunito", sans-serif; */
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: default;
}

input {
  cursor: text;
}

.auth-card {
  /*background-color: #202525;*/
  height: 400px;
  width: 300px;
  border-radius: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.auth-card-frame {
  position: absolute;
  margin: 10px;
  height: calc(100% - 28px);
  width: calc(100% - 28px);
  /*border: 4px solid #76abaebb;*/
  border: 4px solid #01FEFC;
  z-index: 0;
}

.auth-card-top {
  /* background-color: #4a706f88; */
  /* background-color: #76abae; */
  text-align: left;
  padding: 3%;
  margin-top: 3%;
  margin-left: 3%;
}

.auth-card-logout {
  cursor: pointer;
}

.auth-card-logout svg {
  cursor: pointer;
  transform: rotate(180deg);
}

.background-image {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  top: 0;
  opacity: 1;
}

/*h1 {*/

/*    color: var(--darkOrange);*/

/*    font-weight: bold;*/

/*    margin-bottom: 5%;*/

/*}*/

.auth-card-body {
  text-align: center;
  z-index: 1;
  position: relative;
  margin-bottom: 10%;
  /* max-height: fit-content; */
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fffa;
  opacity: 1;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #fffa;
}

.auth-card-input-container {
  position: relative;
  margin-bottom: 25px;
  width: 50%;
  margin: 10px auto;
}

.perceptron-auth-card-input-container {
  position: relative;
  margin-bottom: 25px;
  width: 80%;
  margin: 10px auto;
}

.auth-card-input-container label {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 16px;
  color: #fffc;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.perceptron-auth-card-input-container label {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 16px;
  color: var(--perceptron-white);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.perceptron-auth-card-input-container input:focus ~ label,
.auth-card-input-container input:focus ~ label,
.auth-card-input-container input:valid ~ label {
  top: 0px;
  font-size: 8px;
}

.perceptron-auth-card-input-container input:valid ~ label {
  top: 0px;
  font-size: 8px;
}

.auth-card-input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fff;
}

.perceptron-auth-card-input-container input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: var(--perceptron-white);
}

.auth-card-input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--blue);
}

.perceptron-auth-card-input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--blue);
}

/* Temp 2 */

.auth-card-button {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #01FEFC;
  background-color: transparent;
  border-radius: 6px;
  /*box-shadow: 0 2px 5px #2f898588, rgba(30, 45, 44, .5) 0 -3px 0 inset;*/
  box-shadow: 0 2px 5px #01FEFC, rgba(1, 254, 252, 1) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  width: 50%;
  padding: 10px 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.perceptron-auth-card-button {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid var(--perceptron-orange);
  background-color: transparent;
  border-radius: 6px;
  /*box-shadow: 0 2px 5px #2f898588, rgba(30, 45, 44, .5) 0 -3px 0 inset;*/
  /*box-shadow: 0 2px 5px var(--perceptron-orange), var(--perceptron-white) 0 -3px 0 inset;*/
  box-sizing: border-box;
  color: var(--perceptron-white);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  width: 50%;
  padding: 10px 0;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.logged-bottom .auth-card-button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 10px;
  margin: 0 5px;
}

.auth-card-button:focus {
  box-shadow: var(--darkBlue) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--darkBlue) 0 -3px 0 inset;
}

.perceptron-auth-card-button:focus {
  box-shadow: var(--perceptron-main-black) 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--perceptron-main-black) 0 -3px 0 inset;
}

.auth-card-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--darkBlue) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.perceptron-auth-card-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--perceptron-main-black) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.auth-card-button:active {
  box-shadow: var(--darkBlue) 0 3px 7px inset;
  transform: translateY(2px);
  outline: none;
}

.perceptron-auth-card-button:active {
  box-shadow: var(--perceptron-main-black) 0 3px 7px inset;
  transform: translateY(2px);
  outline: none;
}

.auth-card-button:focus {
  outline: none;
  box-shadow: 0 0 5px #fff8;
}

.perceptron-auth-card-button:focus {
  outline: none;
  box-shadow: 0 0 5px var(--perceptron-white);
}

.auth-card-bottom {
  text-align: center;
  bottom: 7%;
  position: relative;
}

.perceptron-auth-card-bottom {
  text-align: center;
  bottom: 7%;
  position: relative;
}

.logged-bottom {
  display: flex;
  justify-content: center;
  bottom: 10%;
}

.auth-card-link {
  cursor: pointer;
  color: var(--orange);
}

.register-link {
  text-decoration: underline;
}

.auth-card-sub-text {
  color: var(--orange);
  opacity: 0.8;
}

.logo {
  height: 60px;
  width: 60px;
}

.auth-card-content {
  position: relative;
  top: -10%;
}

.auth-card-content .pulse {
  position: relative;
}

.auth-card-version {
  color: #fff8;
  position: relative;
  top: -30px;
}

.perceptron-auth-card-version {
  color: var(--perceptron-white);
  position: relative;
  top: -30px;
}

.auth-card-user {
  margin: auto;
  color: #01FEFC;
  font-weight: 800;
  position: relative;
  top: -20px;
}

.perceptron-auth-card-user {
  margin: auto;
  color: var(--perceptron-orange);
  font-weight: 800;
  position: relative;
  top: -20px;
}

.auth-card-chip {
  padding: 4px 8px;
  background-color: #0C1120;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
}

.perceptron-auth-card-chip {
  padding: 4px 8px;
  background-color: var(--perceptron-main-black);
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
}

.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  scale: 0.4;
}

.pulse:after {
  content: "";
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="3px" stroke="aquamarine" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: 2s pulse infinite linear;
}

.pulse:before {
  content: "";
  background: #444;
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;
}

@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }

  10% {
    clip: rect(0, 66.6666666667px, 100px, 0);
  }

  38% {
    clip: rect(0, 133.3333333333px, 100px, 0);
  }

  48% {
    clip: rect(0, 200px, 100px, 0);
  }

  52% {
    clip: rect(0, 200px, 100px, 0);
  }

  62% {
    clip: rect(0, 200px, 100px, 66.6666666667px);
  }

  90% {
    clip: rect(0, 200px, 100px, 133.3333333333px);
  }

  100% {
    clip: rect(0, 200px, 100px, 200px);
  }
}

