@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customer scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkOrange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--darkOrange);
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
}