@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*    font-family: 'Bebas Neue';*/
/*url("https://r2-assets.blockmesh.xyz/BebasNeue-Regular.ttf") format('truetype'), font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap');

.font-bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}


.parent-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.figure-container {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.figure-container figure {
    max-width: 100%;
    height: auto;
}

.figure-container figcaption {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}