@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*    font-family: 'Bebas Neue';*/
/*url("https://r2-assets.blockmesh.xyz/BebasNeue-Regular.ttf") format('truetype'), font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap');

.font-bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

/* Customer scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkOrange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--darkOrange);
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
}