@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #25e4d3;
    --darkBlue: #2f8985;
    --orange: #fab457;
    --darkOrange: #f97432;
}

/* Customer scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkOrange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--darkOrange);
}

@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
}

.auth-card-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #2f8985 0 -3px 0 inset;
}

.pulse:after {
    content: "";
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="3px" stroke="aquamarine" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: 2s pulse infinite linear;
    animation: 2s pulse infinite linear;
}

.pulse:before {
    content: "";
    background: #444;
    position: absolute;
    z-index: -1;
    left: 2px;
    right: 2px;
    bottom: 0;
    top: 16px;
    margin: auto;
    height: 3px;
}

@-webkit-keyframes pulse {
    0% {
        clip: rect(0, 0, 100px, 0);
    }
    10% {
        clip: rect(0, 66.6666666667px, 100px, 0);
    }
    38% {
        clip: rect(0, 133.3333333333px, 100px, 0);
    }
    48% {
        clip: rect(0, 200px, 100px, 0);
    }
    52% {
        clip: rect(0, 200px, 100px, 0);
    }
    62% {
        clip: rect(0, 200px, 100px, 66.6666666667px);
    }
    90% {
        clip: rect(0, 200px, 100px, 133.3333333333px);
    }
    100% {
        clip: rect(0, 200px, 100px, 200px);
    }
}

@keyframes pulse {
    0% {
        clip: rect(0, 0, 100px, 0);
    }
    10% {
        clip: rect(0, 66.6666666667px, 100px, 0);
    }
    38% {
        clip: rect(0, 133.3333333333px, 100px, 0);
    }
    48% {
        clip: rect(0, 200px, 100px, 0);
    }
    52% {
        clip: rect(0, 200px, 100px, 0);
    }
    62% {
        clip: rect(0, 200px, 100px, 66.6666666667px);
    }
    90% {
        clip: rect(0, 200px, 100px, 133.3333333333px);
    }
    100% {
        clip: rect(0, 200px, 100px, 200px);
    }
}
