*.zip
*/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
extension_js/js/wasm
target-ext
dist
extension_js/js/content.js
extension_js/js/background.js
extension_js/js/options.js
extension_js/js/popup.js
extension_js/js/*.wasm
extension_js/js/*.LICENSE.txt
extension_js/js/manifest.json
