---
import ButtonMain from "~/components/ButtonMain";
import Html from "../Html.astro";
import FormMain from "~/components/FormMain";
import MenuMain from "~/components/MenuMain";
---

<Html>
    <MenuMain current="connecting" />
    <FormMain data-current-item="connecting">
        <p>Connect your Solana wallet address to check if you're eligible</p>
        <output>Wrong network, switch to Solana</output>
        <ButtonMain>Connect</ButtonMain>
    </FormMain>
</Html>

<style>
    output {
        color: var(--color-error-1);
    }
</style>
