---
import HeaderMain from "./components/HeaderMain";
import MenuMain from "./components/MenuMain";
import "./global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Blockmesh $XENO airdrop</title>
    </head>
    <body>
        <HeaderMain />
        <main>
            <hgroup>
                <h1>Claim $XENO</h1>
                <p>
                    Check if you are eligible to claim $XENO. Claim closes on
                    March 31st, 2025.
                </p>
            </hgroup>

            <slot />
        </main>
    </body>
</html>

<style>
    main {
        display: grid;
        gap: 3cap;
        text-align: center;

        inline-size: calc(100% - 2 * 1ch);
        max-inline-size: 64ch;
        margin-inline: auto;

        padding-block-end: 5cap;
    }

    hgroup {
        display: grid;
        gap: 1cap;
    }

    h1 {
        font-size: 2.65rem;
    }
</style>
