# https://github.com/marketplace/actions/deploy-to-cloudflare-workers-with-wrangler
name: Deploy Worker
on:
  push:
    branches:
      - master
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
#env:
#  SCCACHE_GHA_ENABLED: "true"
#  RUSTC_WRAPPER: "sccache"
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      matrix:
        workdir: [
          "cloudflare-landing-page",
          "cloudflare-privacy-page",
          "cloudflare-worker-ip-data",
          "cloudflare-worker-logs-queue",
          "cloudflare-worker-solana-relay",
          "cloudflare-worker-tauri-releases",
          "cloudflare-worker-logger-proxy",
          "cloudflare-feature-flags",
          "cloudflare-worker-cron"
        ]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ vars.RUSTC_VERSION }}
          targets: wasm32-unknown-unknown
          components: cargo , clippy , rust-docs , rust-std , rustc , rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          key: cloudflare-deploy-${{ matrix.workdir }}
          cache-all-crates: true
      #      - name: Sccache Action
      #        uses: Mozilla-Actions/sccache-action@v0.0.5
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: "3.55.0"
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: libs/${{ matrix.workdir }}
          command: deploy